.container{
    .top{
        margin: 20px;

        h1 {
            font-size: 16px;
            margin: 20px 0;
        }
    }
    .row{
        display: flex;
    
        // justify-content: center;
        
        @media @phone {
            flex-direction: column;
            
        }

        div {
            
            margin: 20px;
            border-bottom: 1px dashed black;
            h1 {
                font-size: 16px;
            }
            p {
                margin-bottom: 10px;
            }
           

            img{
                margin: 10px 0;
            }
        }
        
    }
    img {
    height: 40px;
    width: 40px;
    
}
}